.filters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.clearFilters,
.searchAll {
  height: 30px;
  width: 85%;
  min-width: 120px;
  background-color: transparent;
  border-color: var(--ttv-color-secondary);
  border-radius: 50px;
  color: inherit;
  font-weight: 800;
  cursor: pointer;
}

#filters {
  gap: 1rem;
}

.searchByEditorial,
.authorTitleFilter,
.priceFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 10px;
  padding: 1rem;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.searchByEditorial > select {
  border-radius: 10px;
  width: 150px;
  height: 25px;
}

.searchByTitleOrAuthor,
.searchByPrice {
  padding: 0;
  width: 150px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .filters-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .filters {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  #filters-section {
    display: flex;
    flex-direction: column;
  }

  #filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
